<form [formGroup]="formGroup">
 <input formControlName="assetName" placeholder="Asset Name" />
 <input formControlName="assetType" placeholder="Asset Type" />

 <button type="button" (click)="onAddAsset()">Add Asset</button>
</form>

<button type="button" (click)="navigateToTable()">Navigate to Table</button>
<br/>
<button type="button" (click)="navigateToCounter()">Navigate to Counter</button>
<br/>
<button type="button" (click)="navigateToAddProdUser()">Navigate to Add User Form</button>
<br/>
<button type="button" (click)="navigateToShowProdUsers()">Navigate to Show Users Table</button>
