<form [formGroup]="formGroup">
  <div class="addAssetModal-body">
    <p-floatlabel variant="on">
      <input pInputText [formControlName]="'assetName'" id="assetName" fluid />
      <label for="assetName">Asset name</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input pInputText [formControlName]="'assetType'" id="assetType" fluid />
      <label for="assetType">Asset type</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input pInputText [formControlName]="'assetIconUrl'" id="assetIconUrl" fluid />
      <label for="assetIconUrl">Asset icon url</label>
    </p-floatlabel>
  </div>

  <div class="addAssetModal-footer">
    <p-button type="button" (click)="addAsset()" [disabled]="!formGroup.valid">Confirm</p-button>
    <p-button type="button" severity="secondary" (click)="cancelAddingAsset()">Cancel</p-button>
  </div>

</form>
